<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Book tour online</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>

         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/alltour">Tours</a>
        </li>
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://www.google.com.vn/imgres?q=admin%20avatar&imgurl=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F043%2F900%2F708%2Fnon_2x%2Fuser-profile-icon-illustration-vector.jpg&imgrefurl=https%3A%2F%2Fwww.vecteezy.com%2Ffree-vector%2Fadmin-avatar&docid=_4IFes_HUcVl-M&tbnid=uPqJ6VnzmFDxsM&vet=12ahUKEwjdoLCY1qaMAxUxnK8BHcKxLz0QM3oECBoQAA..i&w=980&h=980&hcb=2&ved=2ahUKEwjdoLCY1qaMAxUxnK8BHcKxLz0QM3oECBoQAA" alt="" class="user-avatar">
            vu van thao
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/tours/create">Dang tour</a></li>
                <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/admin/stored/tours">Tuar cua toi</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Dang xuat</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search" action="/tours/search" method="GET">
        <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

  <!-- Navbar & Hero Start -->
  <div class="container-fluid position-relative p-0">
              <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                  <a href="" class="navbar-brand p-0">
                      <h1 class="m-0"><i class="fa fa-map-marker-alt me-3"></i>Travela</h1>
                      <!-- <img src="img/logo.png" alt="Logo"> -->
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                      <span class="fa fa-bars"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarCollapse">
                      <div class="navbar-nav ms-auto py-0">
                          <a href="/" class="nav-item nav-link active">Home</a>
                          <a href="/about" class="nav-item nav-link">About</a>
                          <a href="/services" class="nav-item nav-link">Services</a>
                          <a href="/alltour2" class="nav-item nav-link">Packages</a>
                          <a href="/blog" class="nav-item nav-link">Blog</a>
                          <a href="/contact" class="nav-item nav-link">Contact</a>
                      </div>
                      <a href="/alltour2" class="btn btn-primary rounded-pill py-2 px-4 ms-lg-4">Book Now</a>
                  </div>
              </nav>
  </div>