<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

<form action="/login" method="POST">

    <div id="error-message" style="display: none;" data-message="{{message}}"></div>
    <h3>Login Here</h3>

    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Email or Phone" id="username" required>

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" id="password" required>

    <button type="submit">Log In</button>
    <p class="social-text">Login with a social media account</p>
  
    <div class="social-icons">
        <button class="social-icon fb"><i class="fa-brands fa-facebook"></i></button>
        <button class="social-icon tw"><i class="fa-brands fa-twitter"></i></button>
        <button class="social-icon in"><i class="fa-brands fa-instagram"></i></button>
    </div>
    <p class="social-text" >
        <a href="/register" class="social-text">Create an account</a>
    </p>
</form>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const errorMessageElement = document.getElementById("error-message");
    const message = errorMessageElement.getAttribute("data-message");

    if (message) {
      Swal.fire({
        icon: "error",
        title: "Oops...",
        text: message,
  footer: '<a href="/register">Bạn chưa có tài khoản, đăng ký tại đây.</a>'
  });
    }
  });
</script>
</body>
</html>