<div class="mt-4">
    <h3>Đăng tour du lịch</h3>
    <form method="POST" action="/tours/store">
        <div class="form-group">
            <label for="name" class="form-label">Tên tour</label>
            <input type="text" class="form-control" id="name" name="name" >
    
        </div>

         <div class="form-group">
            <label for="matour" class="form-label">Mã tour </label>
            <input type="text" class="form-control" id="matour" name="matour" >
    
        </div>

        <div class="form-group">
            <label for="thongtin" class="form-label">Thông tin </label>
            <textarea type="text" class="form-control" id="thongtin" name="thongtin" > </textarea>
    
        </div>

         <div class="form-group">
            <label for="lichtrinh" class="form-label">Lịch trình </label>
            <textarea type="text" class="form-control" id="lichtrinh" name="lichtrinh" > </textarea>
    
        </div>

         <div class="form-group">
            <label for="gia" class="form-label">Giá </label>
            <input type="text" class="form-control" id="gia" name="gia" >
    
        </div>

        

         <div class="form-group">
            <label for="date" class="form-label">Thời gian </label>
            <input type="text" class="form-control" id="date" name="date" >
    
        </div>

         <div class="form-group">
            <label for="videoid" class="form-label">Video ID </label>
            <input type="text" class="form-control" id="videoid" name="videoid" >
    
        </div>

        
       
  <button type="submit" class="btn btn-primary">Thêm tour du lịch</button>
</form>
</div>