<div class="mt4">
    <div class="row">
        <div class="col-lg-3">
            <button>Xem ngay</button>
        </div>
         <div class="col-lg-9">
            <h2>{{tour.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{tour.videoid}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>{{tour.thongtin}}</p>
        </div>
    </div>
</div>